/* Encabezado*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background: linear-gradient(to right, gray, white);
    color: white;
    margin: 10px auto;
}


header .left-side a img {
    width: 100px;
}

header .right-side {
    display: flex;
}

header ,.right-side .nav-link-wrapper a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: ThreeDDarkShadow;
}

/* Secciones*/
.container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
}

.container .left-side {
    text-align: center;
    flex: 1;
    color: ThreeDDarkShadow;
    text-transform: full-width;

}

.container .left-side h1, .container .left-side h2 {
    font-size: 50px;
    letter-spacing: 2px;
}

.container .left-side p {
    font-size: 18px;
}

.container .left-side a {
    display: inline-block;
    background: gray;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
}

.container .right-side {
    flex: 1;
    text-align: center;
}

.container .right-side img {
    max-width: 90%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}